previews:
  generation: off
projects:
  - name: ancient-anchorage-43691
    environments:
      - name: production
        services:
          # Web service (from Heroku web dyno — Basic)
          - type: web
            name: ancient-anchorage-43691-web
            runtime: ruby
            plan: starter
            region: oregon
            buildCommand: bundle install && bundle exec rake assets:precompile && bundle exec rake db:migrate
            startCommand: bundle exec puma -C config/puma.rb
            envVars:
              - key: DATABASE_URL
                fromDatabase:
                  name: ancient-anchorage-43691-db
                  property: connectionString
              - key: REDIS_URL
                fromService:
                  type: keyvalue
                  name: ancient-anchorage-43691-cache
                  property: connectionString
              - key: RAILS_ENV
                value: production
              - key: RAILS_MASTER_KEY
                sync: false

          # Background worker (from Heroku worker dyno — Basic)
          - type: worker
            name: ancient-anchorage-43691-worker
            runtime: ruby
            plan: starter
            region: oregon
            buildCommand: bundle install
            startCommand: bundle exec sidekiq -C config/sidekiq.yml
            envVars:
              - key: DATABASE_URL
                fromDatabase:
                  name: ancient-anchorage-43691-db
                  property: connectionString
              - key: REDIS_URL
                fromService:
                  type: keyvalue
                  name: ancient-anchorage-43691-cache
                  property: connectionString
              - key: RAILS_ENV
                value: production
              - key: RAILS_MASTER_KEY
                sync: false

          # Key Value store (from Heroku Redis — mini)
          - type: keyvalue
            name: ancient-anchorage-43691-cache
            plan: starter
            ipAllowList:
              - source: 0.0.0.0/0
                description: everywhere

        databases:
          # Postgres (from Heroku Postgres — essential-0, 1 GB disk)
          - name: ancient-anchorage-43691-db
            plan: basic-256mb
            diskSizeGB: 1
