previews:
  generation: off
projects:
  - name: ancient-anchorage-43691
    environments:
      - name: production
        services:
          # Web service (from Heroku web dyno)
          - type: web
            name: ancient-anchorage-web
            runtime: ruby
            plan: starter
            region: oregon
            buildCommand: bundle install && bundle exec rake assets:precompile
            startCommand: bundle exec puma -C config/puma.rb
            envVars:
              - key: RAILS_ENV
                value: production
              - key: RAILS_LOG_TO_STDOUT
                value: enabled
              - key: RAILS_SERVE_STATIC_FILES
                value: enabled
              - key: DATABASE_URL
                fromDatabase:
                  name: ancient-anchorage-db
                  property: connectionString
              - key: REDIS_URL
                fromService:
                  type: keyvalue
                  name: ancient-anchorage-cache
                  property: connectionString
              - key: SECRET_KEY_BASE
                sync: false
              - key: RAILS_MASTER_KEY
                sync: false

          # Background worker (from Heroku worker dyno)
          - type: worker
            name: ancient-anchorage-worker
            runtime: ruby
            plan: starter
            region: oregon
            buildCommand: bundle install
            startCommand: bundle exec sidekiq -C config/sidekiq.yml
            envVars:
              - key: RAILS_ENV
                value: production
              - key: DATABASE_URL
                fromDatabase:
                  name: ancient-anchorage-db
                  property: connectionString
              - key: REDIS_URL
                fromService:
                  type: keyvalue
                  name: ancient-anchorage-cache
                  property: connectionString
              - key: SECRET_KEY_BASE
                sync: false
              - key: RAILS_MASTER_KEY
                sync: false

          # Key Value (from Heroku Redis)
          - type: keyvalue
            name: ancient-anchorage-cache
            plan: starter
            ipAllowList:
              - source: 0.0.0.0/0
                description: everywhere

        databases:
          # Postgres (from Heroku Postgres)
          - name: ancient-anchorage-db
            plan: basic-256mb
            diskSizeGB: 1
