previews:
  generation: off

projects:
  - name: ancient-anchorage-43691
    environments:
      - name: production
        services:
          # Web service
          - type: web
            name: ancient-anchorage-43691-web
            runtime: ruby
            plan: starter
            region: oregon
            buildCommand: bundle install && bundle exec rake assets:precompile
            startCommand: bundle exec puma -C config/puma.rb
            envVars:
              - key: DATABASE_URL
                fromDatabase:
                  name: ancient-anchorage-43691-db
                  property: connectionString
              - key: REDIS_URL
                fromService:
                  type: keyvalue
                  name: ancient-anchorage-43691-cache
                  property: connectionString
              - key: RAILS_ENV
                value: production
              - key: RACK_ENV
                value: production
              - key: RAILS_LOG_TO_STDOUT
                value: enabled
              - key: RAILS_SERVE_STATIC_FILES
                value: enabled
              - key: SECRET_KEY_BASE
                sync: false
          
          # Background worker
          - type: worker
            name: ancient-anchorage-43691-worker
            runtime: ruby
            plan: starter
            region: oregon
            buildCommand: bundle install
            startCommand: bundle exec sidekiq -C config/sidekiq.yml
            envVars:
              - key: DATABASE_URL
                fromDatabase:
                  name: ancient-anchorage-43691-db
                  property: connectionString
              - key: REDIS_URL
                fromService:
                  type: keyvalue
                  name: ancient-anchorage-43691-cache
                  property: connectionString
              - key: RAILS_ENV
                value: production
              - key: RACK_ENV
                value: production
              - key: SECRET_KEY_BASE
                sync: false
          
          # Key Value (Redis)
          - type: keyvalue
            name: ancient-anchorage-43691-cache
            plan: starter
            region: oregon
            ipAllowList:
              - source: 0.0.0.0/0
                description: everywhere
        
        databases:
          # PostgreSQL
          - name: ancient-anchorage-43691-db
            plan: basic-256mb
            region: oregon
            databaseName: ancient_anchorage_43691
            user: ancient_anchorage_43691_user
            ipAllowList:
              - source: 0.0.0.0/0
                description: everywhere
