<% content_for :title, "Editing: #{@article.title}" %>

<h1 style="margin-bottom: 1.5rem;">Edit article</h1>

<%= render "form", article: @article %>

<%= link_to "Back to article", @article, class: "back-link" %>
