<% content_for :title, "New article" %>

<h1 style="margin-bottom: 1.5rem;">New article</h1>

<%= render "form", article: @article %>

<%= link_to "All articles", articles_path, class: "back-link" %>
